<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        {{input type="text" id="new-todo" placeholder="What needs to be done?" value=newTitle action="createTodo"}}
    </header>

    <section id="main">
        <ul id="todo-list">
            {{#each model as |todo|}}
                {{my-todo todo=todo isCompleted=todo.isCompleted}}
            {{/each}}
        </ul>

        <input type="checkbox" id="toggle-all">
    </section>

    <footer id="footer">
    <span id="todo-count">
      <strong>2</strong> todos left
    </span>
        <ul id="filters">
            <li>
                <a href="all" class="selected">All</a>
            </li>
            <li>
                <a href="active">Active</a>
            </li>
            <li>
                <a href="completed">Completed</a>
            </li>
        </ul>

        <button id="clear-completed">
            Clear completed (1)
        </button>
    </footer>
</section>
